<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'draw.title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ng-container *ngIf="!lanuched">
          <ion-label color="danger">{{ 'draw.warning' | translate }}</ion-label>
        </ng-container>
        <ion-card [disabled]="!lanuched">
          <ion-card-header>
            <ion-card-subtitle
              >{{ 'draw.select_carfully' | translate }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-item color="light">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>{{ 'draw.participants' | translate }}</ion-label>
              <ion-select
                [(ngModel)]="p"
                [okText]="'select' | translate"
                [cancelText]="'cancel' | translate"
              >
                <ion-select-option *ngFor="let i of counter" [value]="i"
                  >{{i}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <hr />
            <ion-button (click)="run()" slot="with-icon" shape="round">
              {{ 'draw.run' | translate }}
              <ion-icon slot="end" name="caret-forward-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
