<ion-header>
  <ion-toolbar>
    <ion-title>{{ "tv.title" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-list lines="none">
              <ion-card-subtitle
                >{{ "tv.control-panel" | translate }}</ion-card-subtitle
              >
              <ng-container *ngIf="tvService.lanuched | async; else off">
                <ion-item button (click)="changeStatus()" color="light">
                  <ion-label>{{ "tv.open-tv" | translate }}</ion-label>
                  <ion-chip color="success" outline>
                    <ion-icon name="checkmark"></ion-icon>
                    <ion-label>{{ "tv.on" | translate }}</ion-label>
                  </ion-chip>
                </ion-item>
                <ion-card-subtitle
                  >{{ "tv.timer-settings" | translate }}</ion-card-subtitle
                >
                <ion-item color="light">
                  <ion-label>{{ "tv.select-time" | translate }}</ion-label>
                  <ion-select
                    (ionChange)="setTimer($event)"
                    [okText]="'select' | translate"
                    [cancelText]="'cancel' | translate"
                  >
                    <ion-select-option
                      *ngFor="let i of [1,2,3,4,5,10,15,20,25,30,35,40,45,50,55,60]"
                      [value]="i"
                      >{{i}} {{ "tv.minutes" | translate }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ng-container>
              <ng-template #off>
                <ion-item button (click)="changeStatus()" color="light">
                  <ion-label>{{ "tv.open-tv" | translate }}</ion-label>
                  <ion-chip color="danger">
                    <ion-icon name="power"></ion-icon>
                    <ion-label>{{ "tv.off" | translate }}</ion-label>
                  </ion-chip>
                </ion-item>
              </ng-template>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
